@model downr.Models.Metadata[]

@foreach(var post in Model) {
    <a id="@post.Slug"></a>

    <h2>@post.Title</h2>
    
    <div class="post-meta">By @post.Author on @post.PublicationDate.ToLocalTime().ToString("yyyy-MM-dd")</div>
    <hr/>
    
    @Html.Raw(post.Content)

    <hr size="1"/>
}